# ─── 共用 ─────────────────────────────
python-dotenv==1.1.0
pydantic==2.11.4
pydantic-core==2.33.2
pydantic-settings==2.9.1
typing_extensions==4.13.2
python-dateutil==2.9.0.post0
packaging==24.2
tenacity==9.1.2
tqdm==4.67.1
requests==2.32.3
urllib3==2.4.0
certifi==2025.4.26
idna==3.10
charset-normalizer==3.4.2
rich==14.0.0

# DB 與 ORM
SQLAlchemy==2.0.40
psycopg2-binary==2.9.10
